*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
}

html {
    font-size: 62.5%;
}

:root {
    --bg-footer: hsl(168, 34%, 41%);

    --clr-heading-primary: hsl(212, 27%, 19%);
    --clr-heading-gray: hsl(213, 9%, 39%);
    --clr-txt-body: hsl(232, 10%, 55%);
    --clr-sub-blue: hsl(210, 4%, 67%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-white-transparent: hsl(0, 0%, 100%, 0.4);

    --clr-txt-cyan: hsl(167, 40%, 24%);
    --clr-txt-blue: hsl(198, 62%, 26%);

    --clr-accent-yellow: hsl(51, 100%, 49%);
    --clr-accent-yellow-transparent: hsl(51, 100%, 49%, 0.5);
    --clr-accent-red: hsl(7, 99%, 70%);
    --clr-accent-red-transparent: hsl(7, 99%, 70%, 0.5);


    --ff-barlow: 'Barlow', sans-serif;
    --ff-fraunces: 'Fraunces', serif;


    --fs-body: 1.8rem;
    --fs-body-s: 1.6rem;
    --fs-link-s: 1.2rem;
    --fs-primary-heading: 5.5rem;
    --fs-primary-heading-s: 3.2rem;
    --fs-secondary-heading: 4rem;
    --fs-secondary-heading-s: 2.4rem;
    --fs-sub-heading: 2.8rem;
    --fs-sub-heading-m: 2.2rem;
    --fs-client-heading: 2rem;
    --fs-client-heading-m: 1.4rem;


    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;
}

.container-l {
    max-width: 144rem;
    margin-inline: auto;
}

.container-s {
    max-width: 110rem;
    margin-inline: auto;
}

.padding-inline {
    padding-inline: 2rem;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.desktop-image {
    display: none;
    max-width: 100%;
}



@media (min-width: 45em) {
    .mobile-image {
        display: none;
    }
    .desktop-image {
        display: block;
        max-width: 100%;
    }
}


body {
    font-size: var(--fs-body);
    font-family: var(--ff-barlow);
    color: var(--clr-txt-body);
}


/*region main with header*/

.main-content {
    height: 100%;
    min-height: 80rem;
    background: url("images/desktop/image-header.jpg") bottom no-repeat;
    background-size: cover;

    position: relative;
}

.main-content::before {
    content: '';
    width: 4rem;
    height: 15rem;
    background: url("images/icon-arrow-down.svg") no-repeat;
    position: absolute;
    background-size: contain;
    top: 45%;
    left: 50%;
}


.mobile-toggle-container {
    display: none;
}

.primary-header {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--ff-barlow);
    font-weight: var(--fw-600);
}

.main-nav {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.main-nav a {
    color: var(--clr-white);
    outline: 1px solid transparent;
    transition: all 250ms ease-in-out;
}

.main-nav a:is(:hover, :focus) {
    color: var(--clr-white-transparent);
}

.main-nav a:focus {
    outline: 1px solid var(--clr-white);
    outline-offset: 4px;
}

.button {
    color: var(--clr-heading-primary);
    padding: 1em 2em;
    background: linear-gradient(to left, var(--clr-white) 50%, var(--clr-white-transparent) 50%) right;
    background-size: 200% 100%;
    border: none;
    border-radius: 100px;
    outline: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;

    transition: all 250ms ease-in-out;
}

.button:where(:hover,:focus) {
    background-position: left;
    color: var(--clr-white);
}

.button:focus {
    outline: 1px solid var(--clr-white);
    outline-offset: 3px;
}

.hero-title {
    font-size: var(--fs-primary-heading);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-900);
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
    margin-top: 5rem;
    color: var(--clr-white);
}





@media (max-width: 45em) {

    .mobile-toggle-container {
        display: block;
    }

    .mobile-toggle {
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
    }

    .primary-header {
        height: 8rem;
        position: relative;
    }

    .primary-navigation {
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-inline: 2rem;
        background: var(--clr-white);
        color: var(--clr-txt-body);
        z-index: 100;

        opacity: 0;
        transform: translateY(-10px);

        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }

    .primary-navigation::before {
        display: block;
        content: '';
        width: 30px;
        height: 30px;
        background: linear-gradient(45deg, var(--clr-white) 50%, transparent 50%);
        position: absolute;
        top: -15px;
        right: -15px;
        transform: rotatez(45deg);
    }

    .primary-navigation.active {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: auto;
    }

    .main-nav {
        flex-direction: column;
        padding-block: 3rem;
    }

    .main-nav a {
        font-size: var(--fs-client-heading);
        color: var(--clr-txt-body);
    }

    .main-nav a:is(:hover, :focus) {
        color: var(--clr-txt-body);
    }

    .button {
        background: var(--clr-accent-yellow);
        color: var(--clr-heading-primary);
        font-size: var(--fs-body-s);
        font-family: var(--ff-fraunces);
        font-weight: var(--fw-700);
    }

    .button:where(:hover,:focus) {
        color: var(--clr-heading-primary);
    }

    .main-content {
        width: 100%;
        height: 100%;
        min-height: 45rem;
        background: url("images/mobile/image-header.jpg") bottom no-repeat;
        background-size: cover;
    }

    .main-content::before {
        width: 4rem;
        height: 10rem;
        background-size: contain;
        top: 48%;
        left: 47%;
    }

    .hero-title {
        margin-top: 3rem;
        font-size: var(--fs-primary-heading-s);
        font-weight: var(--fw-900);
        letter-spacing: 7px;
    }
}
/*endregion*/


/*region Feature and stand-out*/
.img-container img{
    max-width: 100%;
}

.transform-content,
.stand-out-content{
    text-align: center;
    padding-block: 6rem;
}

.transform-content h2,
.stand-out-content h2{
    color: var(--clr-heading-primary);
    font-size: var(--fs-secondary-heading-s);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-900);
    padding-inline: 6rem;
}

.transform-content p,
.stand-out-content p {
    margin-block: 3rem;
    line-height: 1.5;
}

.transform-content a,
.stand-out-content a {
    text-transform: uppercase;
    color: var(--clr-heading-primary);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-900);
    font-size: var(--fs-link-s);

    padding-inline: 0.5rem;
    position: relative;
}

.transform-content a::after,
.stand-out-content a::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    z-index: -1;
    content: '';
    width: 100%;
    height: 2px;
    border: 5px solid var(--clr-accent-yellow-transparent);
    border-radius: 100px;

    transition: border 100ms ease-in-out;
}

.transform-content a:is(:hover, :focus)::after
 {
    border:5px solid var(--clr-accent-yellow);
}

.stand-out-content a::after{
    border: 5px solid var(--clr-accent-red-transparent);
}

.stand-out-content a:is(:hover, :focus)::after {
    border: 5px solid var(--clr-accent-red);
}
/*endregion*/


/*region graphic design and photography*/

.graphic-design-container,
.photography-container {
    max-width: 100%;
    line-height: 0;
}

.graphic-design img,
.photography img {
    max-width: 100%;
}

.graphic-design,
.photography {
    position: relative;
}

.graphic-design figcaption,
.photography figcaption {
    position: absolute;
    bottom: 10%;
    text-align: center;
    color: var(--clr-txt-cyan);
}

.photography-container figcaption {
    color: var(--clr-txt-blue);
}

figcaption h2 {
    font-size: var(--fs-sub-heading-m);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-900);
    margin-bottom: 3rem;
}

figcaption p {
    line-height: 1.5;
}

/*endregion*/


/*region Testimonial*/

.testimonial {
    text-align: center;
    padding-block: 6rem;
}

.testimonial h2 {
    font-size: var(--fs-client-heading-m);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-600);
    color: var(--clr-sub-blue);
    text-transform: uppercase;
    letter-spacing: 7px;
}

.testimonial-users div {
    margin-top: 5rem;
}

.testimonial-profile-img img {
    width: 7rem;
    border-radius: 100px;
}

.testimonial-users p {
    color: var(--clr-heading-gray);
    margin-block: 3rem;
    line-height: 1.5;
}

.testimonial-users span {
    display: block;
    margin-bottom: 1rem;
    font-size: var(--fs-link-s);
}

.testimonial-users .user-name {
    font-size: var(--fs-client-heading-m);
    color: var(--clr-heading-primary);
    font-family: var(--ff-fraunces);
    font-weight: var(--fw-900);
}

/*endregion*/


/*region Gallery*/
.gallery {
    line-height: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery img {
    max-width: 100%;
}
/*endregion*/


/*region Footer*/
.primary-footer {
    text-align: center;
    padding-block: 5rem;
    background: var(--bg-footer);
}

.footer-nav ul {
    margin-block: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-nav a {
    color: var(--clr-txt-cyan);
    outline: 1px solid transparent;

    transition: all 150ms ease-in-out;
}

.footer-nav a:is(:hover, :focus) {
    color: var(--clr-white);
}

.footer-nav a:focus {
    outline: 1px solid var(--clr-white);
    outline-offset: 2px;
}

.socials ul{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.socials a {
    outline: 1px solid transparent;
    transition: all 150ms ease-in-out;
}

.socials a:focus {
    outline: 1px solid var(--clr-white);
    outline-offset: 2px;
}

.socials .icon {
    width: 24px;
    aspect-ratio: 1;
    margin: 0;
    color: var(--clr-txt-cyan);


    transition: all 150ms ease-in-out;
}

.socials a:is(:hover, :focus) .icon{
    color: white;

}

.socials:focus {

}

.socials li a {
    display: block;
    height: 100%;
}

/*endregion*/
